@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(#ffedfe, aliceblue); 
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

@layer base {
    .formBtn {
        @apply btn;
        width: 90px;
    }
}
